<!doctype html>
<html>
  <head>
  <meta charset='utf-8'>
  <title>用户登录</title>
  <script src='/javascripts/jquery/1.9.0/jquery.js'></script>
  <script src="/javascripts/login.js"></script>
  </head>

  <body>
    <div>
      <%- message %>
    </div>
    <div>
      用户登录
      <form action="" method="post">
        <input type="text" name="username"></input>
        <input type="text" name="password"></input>

        <input type="button" value="登录" name="login"></input>
      </form>
      <button name="register">注册</button>

    </div>
  </body>


</html>
